/* ----------- Colors ---------- */
// Background colors
$bg-color-default: #233947 !default;
$bg-color-secondary: #142a37 !default;

// Text colors
$text-color-primary: black !default;

/* ----------- Typography ----------- */
// Font types
$font-family-regular: "Times New Roman", Times, serif;
$font-family-title: CenturyGothic, sans-serif;

// Font sizes
$font-size-default: 1em !default;
$font-size-h3: 1.5em;
$font-size-h4: 1.25em;
$font-size-h5: 1.15em;

// Font weights
$font-weight-title: 800;