<div class="facebook-post">
  <div class="user">
    <div class="profile-img" [style.backgroundImage]="'url(https://www.kth.se/polopoly_fs/1.685099!/image/Stagecast_team-2_mellan.png)'"></div>
    <h4>Stagecast team</h4>
  </div>
  <div class="message">
    Artist XXX LIVE SHOW is coming soon! Click on the post and subscribe to get more info about the event!
  </div>
  <div class="img-wrapper">
    <a routerLink="/social-media"><img src="/assets/images/artist1.JPG"></a>
  </div>
  <ul>
    <li>21 Likes</li>
    <li>2 Comments</li>
    <li>4 Shares</li>
  </ul>
  <div class="icons">
    <div><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</div>
    <div><i class="fa fa-comment" aria-hidden="true"></i> Comment</div>
    <div><i class="fa fa-share" aria-hidden="true"></i> Share</div>
  </div>
</div>
